.detaills-dogs{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #35589A;
}
.flexDetails{
    display: flex;
    height: 100vh;
    .ImgDetails{
        width:50%;
    }
    .InfoDetails{
        color: #0a0a0a;
        display: flex;
        flex-direction: column;
        place-content: center;
        height: 100%;
        width: 50%;
        p {
            font-size: 1.8rem;
            font-weight: bold;
            span {
                display: block;
                font-size: 1.4rem;
                color: #FFC900;
            }
        }
    }
}