.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A5F7A;
    width: 100%;
    .title {
        text-transform: uppercase;
        font-size: 1.15rem;
        color: #FFC900;
    }

    .home {

        a{
            color: #F5F5F5;
            font-weight: bold;
            font-size: 1.02rem;
        }
    }

    .create-dog{

        button {
            font-weight: bold;
            background: #3498db;
            border-radius: 28px;
            color: #F5F5F5;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
            outline: none;
            border: none;
            cursor: pointer;
            &:hover {
                transition: ease-in-out .2s;
                background: #3cb0fd;
            }
        }
    }
}