.Landing {
    height: 100vh;
    display: flex;
    .Landing-Welcome {
        background-color: #F14A16;
        width: 50%;
    }
    .Landing-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        place-items: center;
        background-color: #370665;
        width: 50%;
        padding: 2rem 1rem;
        h1{
            font-size: 5rem;
            color: #FC9918;
            font-weight: bold;
            margin: 0;
        }
        p {
            font-size: 2rem;
            color: #f5f5f5;
            font-weight: bold;
        }
    }
    a {
        font-size:1.8rem;
        letter-spacing:2px;
        text-transform:uppercase;
        display:inline-block;
        text-align:center;
        width:27rem;
        font-weight:bold;
        padding:1.2rem 0;
        border:3px solid #FC9918;
        position:relative;
        color:#FC9918;
        transition:0.3s ease all;
        z-index: 1;
        &:before {
            transition:0.5s all ease;
            position:absolute;
            top:0;
            left:50%;
            right:50%;
            bottom:0;
            opacity:0;
            content:'';
            background-color:#FC9918;
            z-index:-2;
        }
        &:hover {
            &:before {
                transition:0.5s all ease;
                left:0;
                right:0;
                opacity:1;
            }
            }
            &:focus {
              &:before {
                transition:0.5s all ease;
                left:0;
                right:0;
                opacity:1;
              }
            }
        &:hover {
          color: #f5f5f5;;
        }
        &:focus {
          color:#f5f5f5;
        }
    }
}
