.BoxSearch{
    display:flex;
    place-content: center;
    
}

.flexS {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: #FFF89A;
    border-radius: 10rem;
    width: 80%;
    margin: 1rem;
    padding: 2rem;

    .search-name {
        display: flex;
        gap: 1rem;
        align-items: flex-end;
        div {
            display: flex;
            gap: 1.2rem;
            flex-direction: column;
            span {
                font-size: 1.2rem;
                font-weight: bold;
            }
            input {
                border: none;
                padding: 1rem 3.5rem;
                border-radius: 1rem;
                background-color: #F5F5F5;
            }
        }
        .send-button {
            background-color: #1A5F7A;
            color: #F5F5F5;
            border: none;
            border-radius: 1rem;
            font-weight: bold;
            padding: .5rem;
            width: 50%;

            &:hover{
                transition: ease-in-out .4s all;
                color: #0a0a0a;
                background-color: lighten($color: #1A5F7A, $amount: 9);
            }
        }


 


    }

    .filter-temperament{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        span {
            font-size: 1.2rem;
            font-weight: bold;
        }
        select {
            border: none;
            padding: 1rem 3.5rem;
            border-radius: 1rem;
            background-color: #F5F5F5;
        }
    }

    .order {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        span {
            font-size: 1.2rem;
            font-weight: bold;
        }
        .select-order{
            display: flex;
            gap: 1rem;
            select {
                border: none;
                padding: 1rem 3.5rem;
                border-radius: 1rem;
                background-color: #F5F5F5;
            }
        }
    }
}