.BoxSearch{
    display:flex;
    place-content: center;
}

.flexS {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: #FFF89A;
    border-radius: 10rem;
    width: 80%;
    margin: 1rem;
    padding: 2rem;

    .search-name {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        span {
            font-size: 1.2rem;
            font-weight: bold;
        }
        input {
            border: none;
            padding: 1rem 3.5rem;
            border-radius: 1rem;
            background-color: #F5F5F5;
        }
    }

    .filter-temperament{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        span {
            font-size: 1.2rem;
            font-weight: bold;
        }
        select {
            border: none;
            padding: 1rem 3.5rem;
            border-radius: 1rem;
            background-color: #F5F5F5;
        }
    }

    .order {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        span {
            font-size: 1.2rem;
            font-weight: bold;
        }
        .select-order{
            display: flex;
            gap: 1rem;
            select {
                border: none;
                padding: 1rem 3.5rem;
                border-radius: 1rem;
                background-color: #F5F5F5;
            }
        }
    }
}