@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap');
.App {
    height: 100vh;
    text-align: center;
    font-family: 'Istok Web', sans-serif;
  }
  img {
    width: 100%;
    height: 100%;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
 
  